.nerd-links {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    background-color: #242526;
    color: #fff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    padding: 20px 0;
    }
    
    .nerd-links a {
    display: block;
    text-align: center;
    padding: 10px;
    border: 1px solid #dee2e6;
    }
    
    .nerd-links a i {
    font-size: 24px;
    color: #fff;
    }
    
    .nerd-links a:hover {
    background-color: #00ff7f;
    }
    
    .btn-close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    }
    
    .btn-close i {
    font-size: 24px;
    color: #fff;
    }
    
    .btn-close:hover i {
    color: #00ff7f;
    }
    
    .nerd-button {
    background-color: #242526;
    color: #fff;
    border: 1px solid #dee2e6;
    }
    
    .nerd-button i {
    font-size: 24px;
    color: #fff;
    }
    
    .nerd-button:hover {
    background-color: #00ff7f;
    }
    
    .nerd-button:hover i {
    color: #fff;
    }
    body {
        background-color: #242526;
      }
      body {
        background-color: #242526;
      }
      .offcanvas-wrapper {
        background-color: #242526;
      }
      .offcanvas-starter-show{
        background-color: #242526;
      }