.product-img-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 500px;
    width: 500px;
  }
  .rounded {
    border-radius: 20px;
  }
  .product-info-container {
    background-color: #242526;
    color: #fff;
    padding: 30px;
  }
  .product-info-container h2 {
    color: #00ff7f;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .product-info-container h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .product-info-container p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }
   .product-img-container {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      height: 500px;
      width: 500px;
    }
    