.card-body {
    background-color: #242526;
    color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40p;
  }
  
  .table-responsive {
    overflow-x: auto;
  }
  
  .table {
    color: #00ff7f;
  }
  
  .table th,
  .table td {
    border-color:wh;
  }
  


  