<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-info">
            <h3>One Nerd</h3>
            <p>One Nerd è un negozio online di prodotti di vario genere, specializzato nella vendita di action figures, funko pop e poster di alta qualità.</p>
            <p>Siamo appassionati di anime e manga fin da bambini e abbiamo deciso di creare questo negozio online per condividere la nostra passione con il mondo. Dopo aver studiato programmazione presso Epicode, abbiamo realizzato il nostro sogno di creare un'azienda che si occupa di ciò che amiamo di più.</p>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Link Utili</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i><a href="/">Home</a></li>
              <li><a class="dropdown-item" href="Action-Figure">Action-Figures</a></li>
              <li><a class="dropdown-item" href="Funko-pop">Funko-pop</a></li>
              <li><a class="dropdown-item" href="poster">Poster</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Prodotti</h4>
            <ul>
                  <li><a class="dropdown-item" href="Dragon-Ball">Dragon-ball</a></li>
                        <li><a class="dropdown-item" href="Bundle">Bundle</a></li>
                        <li><a class="dropdown-item" href="Naruto">Naruto</a></li>
                        <li><a class="dropdown-item" href="Marvel">Marvel</a></li>
                        <li><a class="dropdown-item" href="Star-Wars">Star-Wars</a></li>
                        <li><a class="dropdown-item" href="One-piece">One-Piece</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contattaci</h4>
            <p>
              Via S. Sofia, 64, <br>
              Milano, MI 20122<br>
              Italia <br>
              <strong>Telefono:</strong> +39 02 1234567<br>
              <strong>Email:</strong> info@onenerd.com<br>
            </p>
            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-google"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="container py-4">
      <div class="text-center text-white">
        © 2023 One Nerd. Tutti i diritti riservati. | Sviluppato da <a href="https://www.linkedin.com/in/maurizio-villanova-063432247/">Maurizio Villanova
  